$wow: blue;
$radius: 7px; 

@mixin biscuits-and-gravy ($ radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ie-border-radius: $radius;
  border-radius: $radius;
}
@mixin button ($bg, $color: white){
  display: inline-block;
  height: 40px; 
  min-width: 60px; 
  padding: 12px 20px;

  box shadow: inset 0 1px 0 -1px lighten($bg, 8%),
              inset 0 -2px 1px -1px darken($bg, 12%)
  border: 1px solid darken ($bg, 3%);
  border-radius: 6px;
  background: $background;

  text-shadow: 0 -1px 1px darken($color, 10%)
  color: $color; 
  text-align: center; 
  font-size: 22px;
  line-height: 40px;
  font-family: Helvetica, sans-serif;
}